.features {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  flex-wrap: wrap-reverse;
  .first {
    img {
      width: 100%;
      height: auto;
    }
  }
  .second {
    h1 {
      font-family: "Spartan";
      font-style: normal;
      font-weight: 700;
      font-size: 70px;
      line-height: 78px;
      display: flex;
      align-items: center;
      color: #263238;
    }
    p {
      font-family: "Spartan";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 177%;
      color: #263238;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}

@media screen and (max-width: 700px) {
  .features {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    flex-wrap: wrap-reverse;
    .first {
      img {
        width: 100%;
        height: auto;
      }
    }
    .second {
      h1 {
        font-family: "Spartan";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 58px;
        display: flex;
        align-items: center;
        color: #263238;
      }
      p {
        font-family: "Spartan";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 177%;
        color: #263238;
        margin-top: 32px;
        margin-bottom: 32px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .features {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    flex-wrap: wrap-reverse;
    .first {
      img {
        width: 100%;
        height: auto;
      }
    }
    .second {
      h1 {
        font-family: "Spartan";
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: #263238;
      }
      p {
        font-family: "Spartan";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 127%;
        color: #263238;
        margin-top: 32px;
        margin-bottom: 32px;
      }
    }
  }
}
