@media screen and (max-width: 425px) {
  .slide {
    padding: 0 20px 0 20px;
  }
}

h1 {
  margin-bottom: 20px;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 72px;
  display: flex;
  align-items: center;
  color: #263238;
}
